.env
__pycache__/

lambda_package/*

main.py
lambda-deploy.zip
lambda_lib/*
test_files/data/*
accel_plot.png
.DS_Store
comparison_plots_E169/*
test_files/explore_mat.py
output.json
accel_output.json
comparison_plots_DC95/*